Source: tll-extras
Section: devel
Priority: optional
Maintainer: Pavel Shramov <shramov@mexmat.net>
Build-Depends: debhelper-compat (= 12), meson (>= 0.53), pkgconf,
    libfmt-dev (>= 5.3), libtll-dev, libzip-dev, python3-tll, python3-pytest
Standards-Version: 4.6.1
Vcs-Git: https://github.com/shramov/tll-restore

Package: libtll-extras
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Breaks: libtll-restore
Replaces: libtll-restore
Provides: libtll-restore
Multi-Arch: same
Description: Additional TLL components
 .
 Package contains some channels and other goodies too small for separate package:
  - Stream restore helper
  - zip:// config loader
